/* 
/////////////////////////////////////////////////////////
             General 
/////////////////////////////////////////////////////////
*/

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  color: var(--text-primary);
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}

.icons {
  height: 4rem;
  width: 4rem;
  margin-right: 1.6rem;
  color: var(--text-primary);
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
}

.main-container {
  color: var(--text-primary);
  font-family: "Roboto", sans-serif;
}

input {
  outline: none;
}

input:hover,
input:focus {
  border: none;
}

.hidden {
  display: none;
}

/* ////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////// HEADER ////////////////////////////////////////////*/
.header {
  background-color: var(--main-background);
}

.nav-bar--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  padding: 0 4.8rem;
  height: 9.6rem;
}

.nav-btns--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

.nav-bar--btns:link,
.nav-bar--btns:visited {
  padding: 1.6rem;
}

.nav-bar--btns:hover,
.nav-bar--btns:focus {
  color: var(--muted-blue);
  transform: scale(1.2);
}

.search-box {
  display: flex;
  align-items: center;
  position: relative;
  justify-self: center;
}

.search-icon {
  position: absolute;
  width: 2.6rem;
  height: 2.6rem;
  margin-left: 1.2rem;
  color: var(--light-text);
}

.search-input {
  width: 45rem;
  padding: 1.2rem 4.8rem;
  border: 0.1rem solid #fff;
  border-radius: 1.8rem;
  transition: all 0.3s;
}

.search-input:hover,
.search-input:focus {
  border: 0.1rem solid #555;
}

/*
//////////////////////////////////////////////////////////////////////
 ///////////////////////////// Side-Bar  //////////////////////////////////*/
.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* max-width: 130rem; */
}

.side-bar--container {
  background-color: var(--soft-blue);
  transition: all 0.3s;
  height: 100vh;
}

.dropdown {
  padding: 1.6rem 3.2rem;
  transition: all 0.5s;
}

.dropdown-header__box {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  position: relative;
  cursor: pointer;
}

.dropdown-icon {
  height: 2.2rem;
  width: 2.2rem;
  margin-left: 3.2rem;
  margin-top: 0.8rem;
  transition: opacity 0.3s ease;
}

.icon-down {
  position: absolute;
  left: 47.5%;
}

.icon-visible {
  opacity: 1;
  visibility: hidden;
}

.dropdown-header {
  font-size: 2.4rem;
  font-weight: 600;
}

.job-type__box {
  gap: 1rem;
  transform: translateY(-1rem);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.job-type__box--active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.job-type {
  font-size: 1.6rem;
  cursor: pointer;
}
.job-type--checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.job-type-input {
  cursor: pointer;
  height: 1.6rem;
  width: 1.6rem;
}

/*
//////////////////////////////////////////////////////////////////////
 ///////////////////////////// Job Cards  //////////////////////////////////*/
.job-cards--container {
  padding: 1.6rem;
}

/* .job-cards:not(:first-child) {
  border-top: 0.1rem solid #555;
} */
.job-cards {
  padding: 1.6rem 2.4rem;
  gap: 1.2rem;
  border-bottom: 0.01rem solid #555;
}
.card-text {
  font-size: 1.6rem;
}

.post-date {
}

.light-text {
  font-size: 1.6rem;
  color: var(--light-text);
}

.job-title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
}

.job-category {
  background-color: var(--main-background);
  padding: 1rem 1.6rem;
  width: fit-content;
  border-radius: 1.2rem;
  cursor: pointer;
  margin-right: 1.6rem;
}

.cards-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.icon--text {
  align-items: center;
}

.job-location {
}

.type {
  margin-left: 1.6rem;
}

.job-type {
}

.salary-range {
  font-size: 1.2rem;
}

.description {
  margin-top: 1.2rem;
  letter-spacing: 0.05rem;
}
