/* General */
/* 
  --primary-color: #0044cc;
  --primary-hover: #003bb5;
  --muted-blue: #0056b3;
  --dark-blue: #003366;
  --deep-blue: #002744;

  Background-colors 

  --main-background: #e9ecef;

  Background-Colors 
  --soft-blue: #eaf4fe;
  --light-grey: #f8f9fa;

   Background-Colors for cards 
  --white: #fff;

  --text-primary: #212529;
  --text-secondary: #343a40;
  --light-text: #6c757d;

  --red: #dc3545;
  --yellow: #ffc107;
  --accent-green: #28a745;
  --accent-green-hover: #218838;
*/
:root {
  --gradient-primary: linear-gradient(to top left, #0066cc, #66ccff);
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--text-primary);
  overflow-x: hidden;
  background-color: var(--light-grey);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
/* /////////////////////////////////////////////////////
/////////////////////////////////////////////////////// /*/

/*
////////////////////////////////////////////////
                  Header
///////////////////////////////////////////////                   
*/
.header {
  background-color: var(--light-grey);
  height: 9.6rem;
  padding: 0 4.8rem;
}

.nav-bar--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-img {
  max-width: 16rem;
  height: 10rem;
}
.nav-btn:link,
.nav-btn:visited {
  display: inline-block;
  color: var(--text-primary);
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}

.nav-btns--container {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}

.nav-bar--btns:link,
.nav-bar--btns:visited {
  padding: 1.6rem;
}

.nav-bar--btns:hover,
.nav-bar--btns:focus {
  color: var(--muted-blue);
  transform: scale(1.2);
}

.nav-cta--container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.nav-cta-btn:link,
.nav-cta-btn:visited {
  height: 4rem;
  padding: 1.2rem 2.4rem;
  color: var(--light-grey);
  border-radius: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
