
.container{
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr;
    font-size: 1.6rem;
}

.form{
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.footer {
    display: flex;
    gap: 2rem;
}
