body {
    background-color:  #e9ecef;
    font-family: sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 0.3fr 1.3fr 1fr;
    font-size: 1.6rem; 
}


/*Logo*/
.logo-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 3rem;
}

.vertical-bar {
    width: 10px;
    height: 90%;
    background-color: #0044cc;
    margin-right: 20px;
    border-radius: 5px;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.letter {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, color 0.3s ease;
}

.letter:hover {
    transform: scale(1.2);
    color:  #003bb5; 
}
  
/* LOGIN FORM */
.Login{
    border: 0.1rem solid rgb(252, 252, 252);
    background-color: #f8f9fa;
    height: 45vh;
    margin-top: 11rem;
    width: 50rem;
    border-radius: 0.6rem;
    box-shadow: 10px 10px 20px rgba(214, 214, 214, 0.5);
}
.header{
    margin-bottom: 3rem;
    margin-left: 7rem;
}
.login_container{
   margin-left: 5rem;
   margin-top: 3rem;
}

.form{
    display: flex;
    flex-direction: column;
    width: 40rem;
}

.footer {
    display: flex;
    gap: 11rem;
    margin-bottom: 1.2rem;
}
input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 2rem;
    border: 1px solid rgb(220, 213, 213);
    outline: none;
    transition: border-color 0.3s ease;
    background-color:  #f8f9fa;
}
  
input[type="email"]:focus {
    border-color: #003bb5;
}
input[type="password"] {
    margin-bottom: 2rem;
    border: 1px solid rgb(220, 213, 213);
    padding: 10px;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color:  #f8f9fa;
}
  
input[type="password"]:focus {
    border-color: #003bb5; 
}
.form__text{
    margin-bottom: 0.5rem;
}
.signin{
    padding: 1rem;
    background-color: #0044cc;
    color: white;
    border-radius: 0.8rem;
}
.alternative_signin{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.google,
.github{
    padding: 1rem;
    width: 19rem;
    background-color:  #212529;;
    color:  #f8f9fa;
    border-radius: 0.7rem;
}

.askAccount {
    align-self: center;
    color: #6c757d;
}
.alternative_text{
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* margin-left: 14rem; */
    display: flex;
}
.line{
    margin-top: 1rem;
    border-top: 0.1rem solid rgb(220, 213, 213);
    width: 12rem;
}
.line_one {
    margin-right: 2rem;

}
.line_two {
    margin-left: 2rem;
}
.instruction{
    margin-top: 1rem;
    margin-bottom: 7rem;
    color:#6c757d;
}
.forget, .signup{
    text-decoration: none;
    color: #0044cc;
}

/* Description */
.description {
    height: 45vh;
    margin-top: 11rem;
    margin-left: 10rem;
}

.jobBoard{
    display: flex;
    margin-left: 20rem;
    font-size: 7rem;
    margin-bottom: 1rem;
}
.jobBoard__desc{
    margin-left: 22rem;
    margin-bottom: 5rem;
}
.welcome {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.text_desc{
    line-height: 2rem;
}

.footer_copyright{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    width: 66%;
    margin-left: 40rem;
    margin-top: 10rem;
}
.fotter_line{
    border-top: 0.1rem solid rgb(220, 213, 213);
    margin-bottom: 1rem;
}