body {
    background-color: rgb(252, 252, 252);
}
.container{
    display: grid;
    grid-template-columns: 0.3fr 1.3fr 1fr;
    font-size: 1.6rem;
}
.Login{
    border: 0.1rem solid rgb(252, 252, 252);
    background-color: white;
    height: 45vh;
    margin-top: 8rem;
    width: 50rem;
    border-radius: 0.6rem;
    box-shadow: 10px 10px 20px rgba(214, 214, 214, 0.5);
}
.header{
    margin-bottom: 3rem;
    margin-left: 7rem;
}
.login_container{
   margin-left: 5rem;
   margin-top: 3rem;
}

.form{
    display: flex;
    flex-direction: column;
    width: 40rem;
}

.footer {
    display: flex;
    gap: 14rem;
    margin-bottom: 1.2rem;
}
.email,
.password{
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}
.form__text{
    margin-bottom: 0.5rem;
}
.signin{
    padding: 1rem;
    background-color: blue;
    color: white;
    border-radius: 0.8rem;
}
.alternative_signin{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.google,
.github{
    padding: 0.8rem;
    width: 19rem;
    background-color: black;
    color: white;
    border-radius: 0.7rem;
}
.askAccount {
    align-self: center;
}
.alternative_text{
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* margin-left: 14rem; */
    display: flex;
}
.line{
    margin-top: 1rem;
    border-top: 0.1rem solid rgb(220, 213, 213);
    width: 12rem;
}
.line_one {
    margin-right: 2rem;

}
.line_two {
    margin-left: 2rem;
}
.instruction{
    margin-top: 1rem;
    margin-bottom: 7rem;
}
