
.container{
    display: grid;
    grid-template-columns: 0.3fr 1.3fr 1fr;
    font-size: 1.6rem;
}
.Login{
    border: 0.1rem solid black;
    background-color: white;
    height: 45vh;
    margin-top: 8rem;
    width: 50rem;
    border-radius: 0.6rem;
}
.Login .header{
    text-align: center;

}
.login_container{
   margin-left: 5rem;
   margin-top: 3rem;
}

.form{
    display: flex;
    flex-direction: column;
    width: 40rem;
}

.footer {
    display: flex;
    gap: 14rem;
    margin-bottom: 1.2rem;
}
.email,
.password{
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}
.form__text{
    margin-bottom: 0.4rem;
}
.signin{
    padding: 1rem;
    background-color: blue;
    color: white;
    border-radius: 0.8rem;
}