body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--text-primary);
  overflow-x: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.primary-header,
.secondary-header,
.tertiary-header {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.primary-header {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  line-height: 1.05;
}

.secondary-header {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.tertiary-header {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  color: var(--text-primary);
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}

.margin--bottom {
  margin-bottom: 4.8rem;
}

.padding--top {
  margin-top: 4.8rem;
}
.grid {
  display: grid;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid-center--v {
  align-items: center;
  justify-content: center;
}

.grid-cols--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols--4 {
  grid-template-columns: repeat(4, 1fr);
}

.align-center {
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
}

.icons {
  height: 3.2rem;
  width: 3.2rem;
  color: var(--text-primary);
}

.flex-container {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.double-container {
  margin-left: 2.4rem;
}

/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////
 */
.header {
  background-color: var(--main-background);
}

.nav-bar--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  padding: 0 4.8rem;
  height: 9.6rem;
}

.nav-btns--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

.nav-bar--btns:link,
.nav-bar--btns:visited {
  padding: 1.6rem;
}

.nav-bar--btns:hover,
.nav-bar--btns:focus {
  color: var(--muted-blue);
  transform: scale(1.2);
}

/*
 /////////////////////////////////////////////////////////////////////////////////////////
 /////////////////////////////////////////////////////////////////////////////////////////
 */
.main-header-container {
  padding: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-header {
  font-size: 2.4rem;
}

.filter-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 2.4rem;
}
.filter-text {
  font-size: 1.6rem;
}

.filter-deactivate {
  visibility: hidden;
  display: none;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  transition: all 0.5s;
  position: absolute;
}

.dropdown-container {
  cursor: pointer;
}

.filter-dropdown {
  margin-top: 0.5rem;
}

.checkbox {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
}

.sort-dropdown {
  margin-top: 0.5rem;
}

.dropdown__box--active {
  position: absolute;
  transform: translateY(0);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-1rem);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.hide-icon {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.btns-container {
  gap: 1.6rem;
}

/*
//////////////////////////////////////////////////////////////////////
 ///////////////////////////// Job Cards  //////////////////////////////////*/
.job-cards--container {
  padding: 0 3.2rem;
}

.job-cards {
  padding: 1.6rem 2.4rem;
  border-bottom: 0.01rem solid #dee2e6;
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: relative;
  max-width: 100rem;
}

.job-cards:first-child {
  margin-top: 8.2rem;
}

.card-text {
  font-size: 1.6rem;
}

.error__card-text {
  font-size: 1.6rem;
  color: #c82333;
}

.light-text {
  font-size: 1.6rem;
  color: var(--text-primary);
}

.job-title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
}

.job-category {
  background-color: var(--main-background);
  padding: 1rem 1.6rem;
  width: fit-content;
  border-radius: 1.2rem;
  cursor: pointer;
  margin-right: 1.6rem;
}

.date {
  font-size: 1.3rem;
}

.cards-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.icon--text {
  align-items: center;
}

.type {
  margin-left: 1.6rem;
}

.salary-range {
  font-size: 1.2rem;
}

.description {
  margin-top: 1.2rem;
  letter-spacing: 0.05rem;
  line-height: 1.6rem;
  max-width: 80rem;
  color: #444;
}

.status {
  padding: 0.3rem 1rem;
  color: #fff;
  border-radius: 11px;
}

.status-active {
  background-color: var(--accent-green);
}
.status-pen {
  background-color: var(--yellow);
}
.status-close {
  background-color: var(--red);
}
