body {
    background-color:  #e9ecef;
    font-family: sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

/*Logo*/
.logo-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 3rem;
}
.vertical-bar {
    width: 10px;
    height: 100%;
    background-color: #0044cc;
    margin-right: 20px;
    border-radius: 5px;
}
.logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.letter {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, color 0.3s ease;
}

.letter:hover {
    transform: scale(1.2);
    color:  #003bb5; 
}

/*Body*/
.form-container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    background-color: #eaf4fe;
    margin-top: 8rem;   
    border: 0.1rem solid rgb(252, 252, 252);
    border-radius: 0.6rem;
    box-shadow: 10px 10px 20px rgba(214, 214, 214, 0.5);
}
.grid--col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.location{
    display: grid;
    grid-template-columns: 1fr 1fr;
}