body {
    background-color:  #e9ecef;
    font-family: sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 0.3fr 1fr 2fr;
    font-size: 1.6rem; 
}
/*Logo*/
.logo-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 3rem;
}

.vertical-bar {
    width: 10px;
    height: 100%;
    background-color: #0044cc;
    margin-right: 20px;
    border-radius: 5px;
}
.logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.letter {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, color 0.3s ease;
}

.letter:hover {
    transform: scale(1.2);
    color:  #003bb5; 
}
/*Description*/
.description {
    height: 45vh;
    margin-top: 11rem;
    margin-left: 10rem;
    background-color: #003bb5;
    height: 80vh;
}

.jobBoard{
    display: flex;
    margin-left: 20rem;
    font-size: 7rem;
    margin-bottom: 1rem;
}
.jobBoard__desc{
    margin-left: 22rem;
    margin-bottom: 5rem;
}
.welcome {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.text_desc{
    line-height: 2rem;
}

/*Signup*/
.signup{
    border: 0.1rem solid rgb(252, 252, 252);
    background-color: #f8f9fa;
    height: 80vh;
    margin-top: 11rem;
    width: 100rem;
    border-radius: 0.6rem;
    box-shadow: 10px 10px 20px rgba(214, 214, 214, 0.5);
}
.header {
   display: grid;
   justify-content: center;
   margin-bottom: 2rem;
   margin-top: 2rem;
}
.signup_container{
    display: grid;
    justify-content: center;
    margin-top: 2rem;
}
.github,
.google {
    padding: 1rem;
    width: 19rem;
    background-color:  #212529;;
    color:  #f8f9fa;
    border-radius: 0.7rem;
}
.alternative_text{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
}
.line{
    margin-top: 1rem;
    border-top: 0.1rem solid rgb(220, 213, 213);
    width: 12rem;
}
.line_one {
    margin-right: 2rem;

}
.line_two {
    margin-left: 2rem;
}
.form {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 8rem;
    width: 85rem;
}
.form-row {
    display: flex;
    gap: 10px; 
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column; 
    flex: 1;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#options {
    padding: 0.8rem;
}
.gender {
    display: flex;
    gap: 2rem;
}
input {
    margin-bottom: 1.5rem;
}
#options {
    margin-bottom: 1.5rem;
}
#bio{
    padding: 1rem;
}
.gender {
    margin-bottom: 1.5rem;
}
.signup_btn{
    padding: 2rem;
    background-color: #0044cc;
    color: white;
    border-radius: 0.8rem;
}
.askAccount{
    display: flex;
    justify-content: center;
    color: #6c757d;
    gap: 0.8rem;
    margin-top: 8rem;
}
.login{
    text-decoration: none;
    color: #0044cc;
}
.policy{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}
.job{
    font-weight: bold;
    color: #0044cc;
    text-decoration: underline;
}
/*Made the page*/
.double_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20rem;
}
