body {
    background-color:  #e9ecef;
    font-family: sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 0.3fr 1.3fr 1fr;
    font-size: 1.6rem; 
}
.logo-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 3rem;
}

.vertical-bar {
    width: 10px;
    height: 90%;
    background-color: #0044cc;
    margin-right: 20px;
    border-radius: 5px;
}